html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0px;
}

button {
  cursor: pointer;
}

body {
  background-color: #0b0b0f;
  font-family: "Inter", sans-serif;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  height: 100px;
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.bg-image {
  position: absolute;
  background-image: url("./images/Bitcoin-1.webp"), url("./images/coin-2.webp"),
    url("./images/star.webp"), url("./images/coin-3.webp"),
    url("./images/coin-half.webp");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 211px 227px, 79px 74px, 27px 27px, 52px 52px, 24px 24px;
  background-position: top 0px left 0px, top 0px right 135px,
    top 49px right 103px, top 70px right 3px, top 0px right 32px;
  width: 100%;
  height: 668px;
  z-index: 5;
}

.bg-gradient {
  position: absolute;
  top: -90px;
  right: 255px;
  width: 295px;
  height: 295px;
  border-radius: 100%;
  background: linear-gradient(180deg, #173b80 0%, #11573e 100%);
  filter: blur(100px);
  z-index: 2;
}
.bg-gradient2 {
  position: absolute;
  top: -98px;
  right: 160px;
  width: 295px;
  height: 295px;
  border-radius: 100%;
  background: linear-gradient(180deg, #173b80 0%, #11573e 100%);
  filter: blur(100px);
  z-index: 2;
}
.bg-gradient3 {
  position: absolute;
  top: 170px;
  left: -67px;
  width: 675px;
  height: 314px;
  border-radius: 100%;
  background: #7000ff;
  filter: blur(400px);
  z-index: 1;
}
.bg-gradient4 {
  position: absolute;
  left: 308px;
  top: 170px;
  width: 675px;
  height: 314px;
  filter: blur(400px);
  background: #ff00c7;
  border-radius: 100%;
  z-index: 1;
}
.bg-gradient5 {
  position: absolute;
  left: 0px;
  top: 37px;
  width: 142px;
  height: 142px;
  filter: blur(100px);
  background: linear-gradient(180deg, rgba(24, 255, 158, 0) 0%, #17ffe3 20%);
  z-index: 4;
}
.header__logo {
  width: 82px;
  height: 16px;
  z-index: 6;
}
.header__logo__link {
  display: flex;
  align-items: center;
  z-index: 6;
}
.header__btn {
  border: none;
  background-color: transparent;
  padding: 0px;
  z-index: 6;
}
.header__main__button {
  display: none;
}
.header__nav {
  display: none;
}

/* Mobile Menu */
.mobile-menu {
  height: 100vh;
  position: absolute;
  grid-column: span 2;
  z-index: 100;
  background-color: #0b0b0f;
  width: 100vw;
  display: none;
}
.is-open {
  display: block;
}
.mobile-menu__gradient {
  border-radius: 100%;
  background: linear-gradient(180deg, rgba(0, 194, 255, 1) 0%, #ff29c3 80%);
  filter: blur(200px);
  position: absolute;
  top: 298px;
  left: 0px;
  z-index: 101;
  width: 447px;
  height: 447px;
}
.mobile-menu__close-button {
  border: none;
  padding: 0px;
  background-color: transparent;
  position: absolute;
  top: 34px;
  right: 48px;
}
.mobile-menu__nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 90px;
  align-items: center;
}
.mobile-menu__container {
  grid-column: span 1;
}

@media screen and (min-width: 1440px) {
  body {
    width: 1440px;
  }
  .wrapper {
    grid-template-columns: repeat(12, 80px);
    gap: 20px;
    width: 1440px;
    margin: 0 auto;
    padding: 0 130px;
  }
  .header__nav {
    display: block;
  }

  .bg-image {
    display: none;
  }
  .mobile-menu {
    display: none;
  }

  .header__btn {
    display: none;
  }
  .header {
    grid-column: span 12;
    padding: 0px;
  }
  .header__logo {
    width: 136px;
    height: 26px;
  }
  .header__nav__list {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .header__nav__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    cursor: pointer;
  }

  .header__nav {
    z-index: 6;
  }
  .header__main__button {
    border-radius: 10px;
    width: 162px;
    height: 48px;
    background: linear-gradient(225deg, #18c8ff 0%, #933ffe 100%);
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    z-index: 6;
  }
  .header__main__button:hover,
  .header__main__button:focus {
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.5);
  }
  .header__main__button:active {
    background: linear-gradient(227deg, #18c8ff 0%, #933ffe 30%);
  }
  .header__main__button:disabled {
    background: #6e7584;
  }

  .bg-gradient {
    border-radius: 100%;
    background: linear-gradient(180deg, #173b80 0%, #11573e 100%);
    filter: blur(200px);
    top: -82px;
    right: 1039px;
    width: 354px;
    height: 354px;
    z-index: 5;
  }
  .bg-gradient2 {
    top: 90px;
    right: 562px;
    width: 675px;
    height: 314px;
    border-radius: 100%;
    background: #7000ff;
    filter: blur(400px);
    z-index: 2;
  }
  .bg-gradient3 {
    top: 90px;
    left: 578px;
    width: 675px;
    height: 314px;
    border-radius: 100%;
    background: #ff00c7;
    filter: blur(400px);
    z-index: 1;
  }
  .bg-gradient4 {
    left: 108px;
    top: 20px;
    width: 170px;
    height: 241px;
    border-radius: 100%;
    filter: blur(85px);
    background: linear-gradient(180deg, rgba(24, 255, 158, 0) 0%, #17ffe3 10%);
    z-index: 4;
  }
  .bg-gradient5 {
    display: none;
  }
  .bg-gradient6 {
    position: absolute;
    top: -90px;
    left: 1390px;
    width: 295px;
    height: 295px;
    border-radius: 100%;
    background: linear-gradient(180deg, #173b80 0%, #11573e 100%);
    filter: blur(200px);
    z-index: 2;
  }
}
